---

export const prerender = true;

import { getCollection } from "astro:content";
import GeneralLayout from "../../layout/GeneralLayout.astro";
import SectionLayout from "../../layout/SectionLayout.astro";
import createSlug from "../../lib/createSlug";



export async function getStaticPaths() {
 
  const video = await getCollection('webinars')
  return video.map((video) => ({
    params: { slug: createSlug(video.data.title) },
    props: video
  }))
}

const { data, render, id } = Astro.props
const { Content } = await render()
---

<GeneralLayout content={{ title: data.title, description: "Blogs related to Cloud&DevOps",type:"article" }}>
  <SectionLayout content={{title:data.title,width:"1"}}>

  <div class="aspect-w-1 aspect-h-1 lg:aspect-w-16 lg:aspect-h-9">
    <iframe src={`https://www.youtube.com/embed/${id.replace('.mdx','')}`} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="prose prose-xl mt-5 max-w-none w-5/6 dark:text-slate-200 ">
    <Content />
  </div>
</SectionLayout>
</GeneralLayout>
