---
import Menu from "../components/ui/Menu.astro";
import { SEO } from "astro-seo";
export interface Props {
  content: {
    title: string;
    description: string;
    type: string;
  };
}

const {
  content: { title, description, type },
} = Astro.props;
---

<html lang="en" class="scroll-smooth md:scroll-auto">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/baby.ico" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-5145D78D4Q"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5145D78D4Q");
    </script>
    
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: type,
          image: "https://cdg.saaralkaatru.com/baby.jpg",
          
        },
        image:{
          alt:"CloudAndDevOpsBabies"
        }
        
      }}
     
    />
    <script>
      // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      var themeToggleBtn = document.querySelectorAll("#theme-toggle");

      themeToggleBtn.forEach((x) =>
        x.addEventListener("click", function () {
          // toggle icons inside button

          // if set via local storage previously
          if (localStorage.getItem("color-theme")) {
            if (localStorage.getItem("color-theme") === "light") {
              document.documentElement.classList.add("dark");
              localStorage.setItem("color-theme", "dark");
            } else {
              document.documentElement.classList.remove("dark");
              localStorage.setItem("color-theme", "light");
            }

            // if NOT set via local storage previously
          } else {
            if (document.documentElement.classList.contains("dark")) {
              document.documentElement.classList.remove("dark");
              localStorage.setItem("color-theme", "light");
            } else {
              document.documentElement.classList.add("dark");
              localStorage.setItem("color-theme", "dark");
            }
          }
        })
      );
    </script>
    <script src="../../node_modules/flowbite/dist/flowbite.js"></script>
    <script src="../../node_modules/tw-elements/dist/js/index.min.js"></script>
    
  </head>

  <body
    class="antialiased text-slate-500 dark:text-slate-300 bg-slate-100 dark:bg-slate-800"
  >
    <Menu />
    <main class="dark:bg-slate-900 tw-h-full">
      <slot />
    </main>
  </body>
</html>
